@import 'nib'
@require 'vars'
@import '../../dijit/themes/claro/claro.css'
@import '../../esri/css/esri.css'
@import '../../../src/layer-selector/resources/LayerSelector'

.app
  margin 0
  padding 0
  overflow hidden
  color #444

*focus
    outline 0

.layer-selector-left
  left 38px
